[2015-03-13 05:56] mbsmith opened #3 "Erlang Make utility doesn't seem to be included."
Was trying to do some live development for testing and found I couldn't compile some applications due to the following error:

escript: exception error: undefined function make:files/2

I can't see anything in the bb file that would prevent this from being included.

[2015-03-16 01:37] joaohf commented on #3
Hi mbsmith,

 'erlang-tools' aren't installed by default. Could you install 'erlang-tools' package? Like this:

IMAGE_INSTALL_append = " erlang erlang-tools "

[2015-03-16 06:49] mbsmith commented on #3
Ah I didn't notice that it was split up like that.  Including that and a few other packages fixed my issue.

Thanks!

[2015-03-16 06:49] #3 closed

[2015-10-26 07:20] bsingh commented on #3
Yes..Thanks  joaohf ,  installing erlang-tools did the trick.

[2016-06-18 05:14] chbae opened #5 "erlang build error in arm 64bit"
**Build Environment**
MACHINE: dragonboard-410c
Poky: jethro branch
meta-qcom: jethro branch

I got the below error in arm 64bit

`ERROR: debugedit failed with exit code 256 (cmd was '/home/changhyeok.bae/work/ivi/genivi/gdp_dragon/gdp-src-build/tmp/sysroots/x86_64-linux/usr/lib/rpm/bin/debugedit' -b '/home/changhyeok.bae/                                            work/ivi/genivi/gdp_dragon/gdp-s

[2016-06-19 10:21] bboozzoo commented on #5
Might be RPM's `debugedit` doing something funky. Can you try building without `pacakge_rpm` in `PACKAGE_CLASSES`?

[2016-06-19 14:50] joaohf commented on #5
Hi,

Using:

Build Configuration:
BB_VERSION        = "1.28.0"
BUILD_SYS         = "x86_64-linux"
NATIVELSBSTRING   = "Ubuntu-15.10"
TARGET_SYS        = "aarch64-poky-linux"
MACHINE           = "dragonboard-410c"
DISTRO            = "poky"
DISTRO_VERSION    = "2.0.2"
TUNE_FEATURES     = "aarch64"
TARGET_FPU        = ""
meta
meta-yocto
meta-yocto-bsp    = "jethro:ddbc13155f4db5d98976dc93b586c0be4fc

[2016-06-22 10:51] chbae commented on #5
I'm using GDP and below is my environments.

Build Configuration:
BB_VERSION        = "1.28.0"
BUILD_SYS         = "x86_64-linux"
NATIVELSBSTRING   = "Ubuntu-12.04"
TARGET_SYS        = "aarch64-poky-linux"
MACHINE           = "dragonboard-410c"
DISTRO            = "poky-ivi-systemd"
DISTRO_VERSION    = "10.0.0"
TUNE_FEATURES     = "aarch64"
TARGET_FPU        = ""
meta
meta-yocto
meta-yocto-bsp

[2016-06-22 11:15] chbae commented on #5
@bboozzoo I tried to remove rpm package but same errors.

[2016-06-22 13:23] chbae commented on #5
I successfully built with Ubuntu-14.04 64bit. So I closed this issue.
Sorry and Thanks.

[2016-06-22 13:23] #5 closed

[2017-09-13 01:04] joaohf opened #9 "Add support to yocto pyro, morty, krogoth"

[2017-09-13 01:05] joaohf opened #10 "Add erlang 20.x recipes"

[2017-09-13 01:05] joaohf opened #11 "Provide a basic working example about how to use meta-erlang"

[2017-09-25 00:53] #10 closed

[2017-09-25 00:55] joaohf opened #14 "Investigate warning about RPATH and crypto.so"
When `bitbake erlang-native` I got:

[code]

[2018-03-29 14:45] ennasiry opened #16 "os_mon problem"
Hello,
i have added meta-erlang layer to my embedded linux image ,and when im trying to build an erlang/OTP server project my app crash and it gives me this error :
`badmatch,{error,{os_mon,{"no such file or directory","os_mon.app`
i want to know if this problem is related to the project or the layer ?
does this layer provides os_mon ?
thank you

[2018-03-29 15:18] ennasiry commented on #16
i cant find os_mon under /usr/lib/erlang/lib after installing meta-erlang layer !

[2018-03-29 16:18] joaohf commented on #16
Hi.

Please try to install erlang-os-mon package. By default the erlang package install a small set of modules like stdlib sasl.

Thanks

[2018-03-29 16:21] ennasiry commented on #16
i have an arm 32 bit embedded linux board ,how can i install this package
without passing by erlang meta-layer ?

2018-03-29 17:18 GMT+01:00 João Henrique Ferreira de Freitas <
notifications@github.com>:

--

Cordialement

EN-NASIRY  NOUREDDINE

+212 6 27 01 56 91

ennasiry.noureddine@gmail.com

[2018-03-29 16:45] ennasiry commented on #16
solved ! thank you

2018-03-29 17:20 GMT+01:00 NOUREDDINE ENNASIRY <
ennasiry.noureddine@gmail.com>:

--

Cordialement

EN-NASIRY  NOUREDDINE

+212 6 27 01 56 91

ennasiry.noureddine@gmail.com

[2018-06-18 10:20] rkdm91 opened #17 "Adding module"
Hello,

I want to add a module ( os-mon ) to my Erlang installation .
I have edited generate-manifest file in scripts/erlang :

    m.addPackage("${PN}", "",
                 "${PN}-erts ${PN}-kernel ${PN}-stdlib ${PN}-sasl ${PN}-os-mon", "", True)

and launch the script so the file erlang-20.0.5-manifest.inc has been modified.

After building the project i can't find the module in usr/lib/erlang/

[2018-06-19 13:29] rkdm91 commented on #17
Solved, after rebuilding all the image.

[2018-06-19 19:49] joaohf commented on #17
Hi,

Editing manifest is not the usual way to proceed. See issue #16

Maybe in local.conf add:

 IMAGE_INSTALL_append = " erlang-os-mon"

Or create a specific packagegroup.

[2019-03-15 22:40] asabil opened #24 "rebar3 class include-erts and system_libs"
Hi,

Looking at the rebar3 class, it doesn't seem like the `--include-erts ...` and the `--system_libs ...` are not currently passed to the `rebar3 tar`?

I would like to create an embedded release, and without these flags, erts wouldn't be included. How would you suggest to create an embedded release using this layer? Also taking into consideration that the build host arch <> target host arch.

T

[2019-03-18 21:09] joaohf commented on #24
Hi asabil,

Great question!

I have some examples about how to handle it. Unfortunately it needs some update (I think that rebar3 has other ways to do it now).

So check it:

1) https://github.com/joaohf/axon
2) https://github.com/joaohf/axon/blob/master/rebar.config.script
3) https://github.com/joaohf/meta-axon/blob/master/recipes-extended/axon/axon_git.bb

axon (1) is an normal erlang applicatio

[2019-03-24 17:30] #11 closed

[2019-03-24 18:02] #17 closed

[2019-03-24 18:03] #14 closed

[2019-03-24 18:45] #9 closed

[2019-05-09 06:41] windelbouwman opened #27 "Elixir recipes"
Hi,

Would this package at some point contain elixir recipes, or should that be another layer?

Regards,
Windel

[2019-05-09 20:06] joaohf commented on #27
Hi Windel,

I don't see why not.

This layer has all the necessary pieces. Actually I have some plans to do but I haven't start anything yet.

Do you have any work about it?

A specific layer only to hold elixir potentially will be dependent from meta-erlang.

[2019-05-10 05:03] windelbouwman commented on #27
I'll probably need it at some point in the coming months, so I will either check for it, or contribute it. Thanks!

[2019-06-30 10:07] XDeschuyteneer commented on #27
My two cents: I have an application written in elixir (using this layer with thud release) and I created my own layer (to add machine, distro, recipes).

I just added this layer as a dependency in my own layer configuration.
If you take a look at meta-python, it's more or less like that too.
They integrate a lot of recipes, libraries, etc. but not everything.
If you want to add something of your o

[2019-07-17 20:04] joaohf commented on #27
Hi,

I've added elixir 1.8 to this layer. I will update to 1.9 soon.

Feel free to reopen this if you need something else.

[2019-07-17 20:04] #27 closed

[2019-07-17 20:06] joaohf commented on #24
Hi,

Check this out http://joaohf.github.io/meta-erlang/#/

Feel free to reopen this issue.

[2019-11-11 16:52] mmar2228 opened #29 "do_install error"
Dear all,

I have an error when I include layer erlang in bblayer.conf and IMAGE_INSTALL_append = " emqx " in my local.conf.

_bitbake core-image-minimal_ gives me the following error:

[code]

[...]

[code]

It seems emqx-v4.0-beta.3.tar.gz iscreated but emqx-v4.0-alpha.2.tar.gz is intended to be decompressed... Is it possible that recipe must to be updated?  Any idea bout this issue?

Thanks ver

[2019-11-12 11:14] mmar2228 commented on #29
I solved it by changing the emqx_3.4.0.bb recipe. I changed the following line:

#REBAR3_RELEASE = "emqx-v4.0-alpha.2"
REBAR3_RELEASE = "emqx-v4.0-beta.3"

Build error has disappear. Just for checking, can it be a problem?

Thanks very much,

M del Mar

[2019-11-14 17:50] joaohf commented on #29
Hi @mmar2228

Nice that you handled the issue. I'm planning to test your solution as well.

[2019-11-18 14:50] asabil opened #30 "Erlang 22.1"
Hi,

Are there any plans to update the Erlang/OTP release to 22.1 ?

Thanks

[2019-11-18 21:40] joaohf commented on #30
Hi @asabil,

Sure, there are plans. Check this https://github.com/joaohf/meta-erlang/pull/31

I need to fix a issue regarding to wx and opengl. One of my patches to disable wx is not working. Now is time to fix it using another approach.

[2019-11-19 12:46] mmar2228 commented on #29
Hello,

I have recompiled the image and emqx recipe fails again. I solved it by changing manually the same line in the recipe:

**REBAR3_RELEASE = "emqx-v4.0-beta.4"**

I think this recipe depends on the source and it fails if source is updated.

Could it be fixed?

Thanks very much,

M del Mar

[2019-11-20 08:16] asabil commented on #30
Ok, thank you for the update. I will have a look, I might be able to help with the patch.

[2019-11-20 08:16] #30 closed

[2019-11-21 22:17] joaohf commented on #29
Sure. We can fix.

Take a look: https://github.com/joaohf/meta-erlang/pull/33

[2019-11-21 23:38] dayanola opened #34 "How do I install version 22 OTP?"
Hi,
I wish to use erlang 22 OTP.
What should I change in the recipes?

Thanks,
Amit

[2019-11-22 06:08] joaohf commented on #34
Hi @dayanola.

You don't need to change a recipe. This layer has OTP 22.1.7. bitbake will get the most high erlang version, which is 22.1.7.

But if you like to configure it, then:

Add to you 'conf/local.conf'

PREFERRED_VERSION_erlang = "22%"

or

PREFERRED_VERSION_erlang = "22.1.7"

See: https://www.yoctoproject.org/docs/2.7.1/mega-manual/mega-manual.html#var-PREFERRED_VERSION

Thanks.

[2019-11-22 09:09] mmar2228 commented on #29
I have tried it (emqx branch) and fail has gone. Is it now independent of source updates to avoid the same error in the future?

Thanks very much!!

M del Mar

[2019-11-22 19:06] joaohf commented on #29
Hi @mmar2228.

I guess that it is independent of source updtates. As we are using a fixed branch and git sha1.

But I will track the emqx development and be aware. Probably they will release a stable 4.0.0 soon.

[2019-12-08 17:59] asabil commented on #24
I have looked at the solution, and I am not particularly found of having the packaged software deal with setting the correct include-erts and system_libs itself, especially the rebar3 has native support for passing those through the command line.

Would you accept a PR that changes the rebar3 class do_install task to use `--include-erts` and `--system_libs` ?

Thanks,
Ali

[2019-12-08 19:09] joaohf commented on #24
@asabil

My current approach is to have a rebar.config.script that reads REBAR3_TARGET_INCLUDE_ERTS and REBAR3_TARGET_SYSTEM_LIBS (https://github.com/joaohf/axon/blob/3baebb418f6024aeb221b79fd65f820f8968dd8e/rebar.config.script).

Of course it is better passing these parameters using command line.

Feel free to submit a PR.

[2019-12-10 11:31] mmar2228 commented on #29
Hello,

The emqx-edge recipe has a  minor error [emqx-edge recipe](https://github.com/joaohf/meta-erlang/blob/master/recipes-connectivity/emqx/emqx-edge_4.0.0.bb).

Line REBAR3_PROFILE = "emqx_edge" should be REBAR3_PROFILE = "emqx-edge"

Thanks and best egards,

M del Mar

[2019-12-11 11:32] joaohf commented on #29
Hi @mmar2228,

I got your point. I will fix that.

[2019-12-11 22:51] joaohf commented on #29
Hi @mmar2228

Testing the emqx-edge profile I got other problem. emqx is doing a git tag / git describe and getting the last tag from the repository. All of that inside the rebar.config.script. I will take a look and add another patch.

[2019-12-15 21:26] joaohf commented on #29
Hi @mmar2228

Check this https://github.com/joaohf/meta-erlang/pull/36

Seems to be working now.

[2019-12-23 09:44] #34 closed

[2020-01-07 18:19] dayanola opened #40 "Installing dependecies"
Hi,
I have installed erlang , elixir and mix like this:
IMAGE_INSTALL_append = " erlang elixir elixir-mix"

There were errors installing Hex about inets, so I've added:

IMAGE_INSTALL_append = " erlang elixir elixir-mix **erlang-inets erlang-tools** "

Now there are errors about ssl. I read somewhere that you can install erlang-ssl, erlang-crypto , etc.

My question is : is there one recipe to add

[2020-01-07 18:56] dayanola commented on #40
OK,
I've built an image with:
IMAGE_INSTALL_append = " erlang elixir elixir-mix erlang-inets erlang-tools erlang-ssl erlang-crypto openssl"
And now I get :

no match of right hand side value: {:error, {:public_key, {'no such file or directory', 'public_key.app'}}}

[2020-01-07 19:29] joaohf commented on #40
Hi @dayanola,

The `erlang` package will install: kernel, erts, stdlib and sasl (https://github.com/joaohf/meta-erlang/blob/master/recipes-devtools/erlang/erlang-22.1.8-manifest.inc#L1409)

In your IMAGE_INSTALL_append, you can add the erlang-public_key.

I use to start with erlang-modules (https://github.com/joaohf/meta-erlang/blob/master/recipes-devtools/erlang/erlang-22.1.8-manifest.inc#L1413)

[2020-01-07 21:44] dayanola commented on #40
thank you.

I also needed erlang-modules-dev and packagegroup-core-buildessential.

In one of the error message, is was suggested I install erlang-dev. Is this different than erlang-modules-dev?

[2020-01-07 22:22] joaohf commented on #40
If you are planning to do any kind of development which uses any erlang include files then you should add erlang-modules-dev.

Hmm, currently erlang-dev (https://github.com/joaohf/meta-erlang/blob/master/recipes-devtools/erlang/erlang-22.1.8-manifest.inc#L1394) does not install erlang-erts-dev erlang-kernel-dev erlang-stdlib-dev and erlang-sasl-dev. For now, you should add those packages to IMAGE_

[2020-01-08 19:47] dayanola commented on #40
OK, thanks.
I have added rebar3 to the list, but it is not detected
_Could not find "rebar3", which is needed to build dependency :ranch
I can install a local copy which is just used by Mix_

Any idea if what is needed other than adding rebar3 to IMAGE_INSTALL_append ?

[2020-01-08 19:51] dayanola commented on #40
Also, is there a way to install Hex?

[2020-01-08 20:02] joaohf commented on #40
Hi @dayanola

I guess that I never tried to do a development on the target. This is not my normal workflow. But if you get a working elixir (iex) and erlang (erl), I don't see any problem doing that.

Of course, mix will try to install a rebar3, if not installed. Also mix will try to install hex too.

Have you included the rebar3 to IMAGE_INSTALL_append ? If yes, what is the return of the `which r

[2020-01-26 20:35] joaohf commented on #40
I'm closing this. Feel free to reopen if need.

[2020-01-26 20:35] #40 closed

[2020-01-26 20:35] joaohf commented on #29
I'm closing this. Feel free to reopen if need.

[2020-01-26 20:35] #29 closed

[2020-01-26 20:35] joaohf commented on #24
I'm closing this. Feel free to reopen if need.

[2020-01-26 20:35] #24 closed

[2020-05-28 14:45] befedo opened #49 "RabbitMQ - Missing Dependency"
Hi there,
I've simply build `rabbitmq-server` with bitbake.

When running on the target I get:
[code]

Looks like `cuttlefish` is missing in the dependencies, and I couldn't find it anywhere (neither a receipe).

Has anyone made the same observation?

Thanks for your time and best regards
Befedo

[2020-05-28 16:54] joaohf commented on #49
Hello @befedo

Good catch. I forgot to test rabbitmq using any configuration file :(

![Screenshot_2020-05-28_18-52-23](https://user-images.githubusercontent.com/278690/83170260-8de16c00-a114-11ea-8bb5-5343461220ea.png)

[2020-05-28 20:59] befedo commented on #49
Hey @joaohf,

Thanks for the quick response and fix!

[2020-06-02 11:09] befedo commented on #49
Hi there,
using the systemd `rabbitmq-server.service` file there seems to be some other dependency missing.
[code]
And it looks like `socat` is used for signaling to systemd, thus the service get's killed after a timeout from systemd. After adding socat the signaling to systemd works:
[code]
Can anyone confirm this?

Thanks for your time and best regards.
befedo

[2020-06-02 15:21] joaohf commented on #49
Yes, I can confirm that.

rabbitmq tries to load sd_notify module (https://github.com/systemd/erlang-sd_notify) and falls back to socat, see https://github.com/rabbitmq/rabbitmq-server/blob/master/apps/rabbitmq_prelaunch/src/rabbit_boot_state_systemd.erl#L45

Adding socat (https://layers.openembedded.org/layerindex/recipe/5109/) recipe to the image will fix the problem.

There is also another appr

[2020-07-14 15:35] fnchooft opened #51 "OTP 23 - Any plans to add?"
Hi Joao, are there any plans to add OTP 23?

[2020-07-14 19:08] joaohf commented on #51
Hello Fabian!

I've started the first round. I hope until next weekend I can release something.

[2020-07-14 21:42] fnchooft commented on #51
That is great news! Thanks - greetings from Campinas/Polis.
Kind regards,
Fabian

On Tue, Jul 14, 2020, 16:08 João Henrique Ferreira de Freitas <
notifications@github.com> wrote:

[2020-07-19 14:19] joaohf commented on #51
Hi @fnchooft

I've add erlang 23. Feel free to reopen this in case of any problem.

[2020-07-19 14:19] #51 closed

[2020-07-19 14:20] joaohf commented on #49
Added socat as rdepends, when using systemd.

https://github.com/joaohf/meta-erlang/commit/232551cc2040c7c1e43f2215a257cb3e72e83381

[2020-07-19 14:20] #49 closed

[2020-07-20 01:33] fnchooft commented on #51
Great news - will be testing next week. Kind regards,
Fabian

On Sun, Jul 19, 2020 at 11:19 AM João Henrique Ferreira de Freitas <
notifications@github.com> wrote:

[2020-09-14 08:33] jpnurmi opened #54 "[Wishlist] CouchDB recipe"
[CouchDB](https://couchdb.apache.org/) is a document-oriented NOSQL database written in Erlang. Is this anything the meta-erlang layer might be interested having/offering/supporting?

CouchDB is straight-forward to [build](https://docs.couchdb.org/en/latest/install/unix.html#installation-from-source) for x64 on desktop Linux, and it builds fine for ARM on [Raspberry Pi](https://www.hackster.io/ime

[2020-09-14 09:03] jpnurmi commented on #54
Here's what I tried so far. I have zero Erlang experience, so I don't really know what I'm doing. :)

### couchdb_3.1.0.bb
[code]

### couchdb.inc
[code]

### Result
[code]

[2020-09-14 19:23] joaohf commented on #54
Hello @jpnurmi

Yes, it is. I was looking for something like couchdb or riak, then I postponed the plans.

Thanks for your instructions and initial work. I'm going to use that as starting point.

Let me try and I'll update this issue.

[2020-10-04 11:14] #54 closed

[2021-01-18 14:20] zonque opened #65 "rabbitmq cannot be built"
RabbitMQ cannot be built with Elixir >=1.11.0, which leads to the following error:

[code]

Are users supposed to fix this through a `PREFERRED_VERSION_elixir` directive?

[2021-01-18 20:54] joaohf commented on #65
Hello @zonque

Thank you for point this out. Yes, configuring PREFERRED_VERSION_elixir with 1.10.4 should work.

I'll add some docs about it.

[2021-03-16 11:06] dmrayt opened #85 "Unable to compile CouchDB for arm64"
While buiding couchdb, I get following error at compiling b64url.c:

[code]

The problem is the flag `-L"/yocto/build/tmp/work/aarch64-tdx-linux/couchdb/3.1.1-r0/recipe-sysroot-native/usr/lib/erlang/lib/erl_interface-3.13.2/lib"`, it use erlang-native (in recipe-sysroot-native) instead of the cross compiled erlang (in recipe-sysroot).

With following workaround in couchdb recipe, i was able to com

[2021-03-16 23:44] joaohf commented on #85
Hello @dmrayt

Could you try this one https://github.com/meta-erlang/meta-erlang/pull/86 ?

[2021-03-17 16:38] dmrayt opened #87 "CouchDB systemd service doesn't start"
After installation of couchdb, the systemd service is unable to start on my embedded system.

On first start, I had following error `couchdb[1253]: erlexec: HOME must be set`. The service can not start with root rights.
I've added the couchdb user in service file, on next start the default data folder couldn't be created: Permission denied.
After changing the owner of couchdb folder, the service w

[2021-03-17 16:39] dmrayt commented on #85
Thanks, this is the right solution.

Please, commit it also in the dunfell branch.

I would still replace the line in do_configure_append(). With this correction I was able to remove "ldflags" from INSANE_SKIP.

[2021-03-17 16:51] dmrayt opened #88 "Add erlang 20.3.8 for couchdb"
The Apache couchdb team recommend to use erlang 20.3.8.25 for couchdb 3.1.1.
https://github.com/apache/couchdb/issues/3115#issuecomment-683849187
https://github.com/apache/couchdb/issues/3273#issuecomment-729030867

[2021-03-17 16:59] joaohf commented on #88
Alright, I'm going to add that erlang version as well.

[2021-03-18 08:03] joaohf commented on #88
Done.

Remember to add the following configuration (nativesdk might be optional):
[code]

[2021-03-18 08:03] #88 closed

[2021-03-18 08:10] joaohf commented on #85
Merged into master and dunfell. I ended up using your approach for solve the ldflags QA issue.

Thanks!

[2021-03-19 14:45] dmrayt commented on #85
Thanks, it's working now.

[2021-03-19 14:45] #85 closed

[2021-03-23 07:18] Raphexion opened #98 "Idea: Create a couple of meta-erlang/<example project>"
I think it would be very helpful if we create a couple of minimal examples in the meta-erlang organization. Then we add the recipes in meta-erlang - recipes-examples.

I think it would be very helpful for people starting out with meta-erlang.

Ideas for example repos:
- meta-erlang/hello-world-http-server (A minimal http server writen in cowboy)
- meta-erlang/hello-world-rabbitmq (A minimal client

[2021-03-24 01:15] joaohf commented on #87
Fixed by https://github.com/meta-erlang/meta-erlang/commit/f423d292cf06d93316147ee0b7bb2ef5bf5efd64

Thanks!

[2021-03-24 01:15] #87 closed

[2021-03-24 01:27] joaohf commented on #98
Hi @Raphexion,

I totally agree on that. I've been thinking on these examples but never came up with a feasible list. We could add the recipes into `recipes-examples`.

I would also add one more example, as a plus, `meta-erlang/hello-interoperability` to show the tricky (well it is not so tricky) part when compiling with C/C++ code.

[2021-03-26 11:32] Raphexion commented on #98
Hej @joaohf, sorry for the late reply.

I really like your idea with `meta-erlang/hello-interoperability`.

Should I try to do one (e.g, hello-world-http-server) and when I am ready I can share the link here and we can discuss what is good and what is bad.

[2021-04-18 01:14] joaohf opened #102 "Make Observer work when cross compiled"
As an application developer I would like to:

[code]

For the first step, it is ok and works as expected. However, the second step is not working and needs several patches in Erlang/OTP in order to make it work.

This issue is to map the ideas and work needed in order to have Erlang cross compiled with Observer working. I tried a long time ago but without success at all. Now with OTP 24 it worth t

[2021-05-17 00:45] joaohf commented on #98
Hej Hej!

The first recipe-examples batch is here: https://github.com/meta-erlang/meta-erlang/pull/101

[2021-05-17 06:08] Raphexion commented on #98
Hej @joaohf

I think it looks amazing :tada: Thank you so much for your work. I think this will make the meta so much more approachable. Moreover, they acts as proof-of-concepts and can iron-out the flow off all the classes (rebar3, mix).

[2021-06-22 02:13] hommeabeil opened #112 "Out of tree build"
I just discover we can build an erlang project with rebar3 out tree, well mostly. Are you aware of the environment variable `REBAR_BASE_DIR` [link](https://github.com/erlang/rebar3/blob/master/src/rebar3.erl#L154) ? It would allow us to output all the binary into  `${B}`. All  I need to do in my recipe is to do something like this

[code]

I think this can be useful, mostly for the SDK. I am openi

[2021-06-24 01:03] joaohf commented on #112
Hello @hommeabeil ,

I didn't know about that variable. Indeed as described here https://github.com/erlang/rebar3/issues/2104 it could use as you said. I don't any downside in use that in a recipe. I'll do some test to see how it could fit better here (mainly for SDK and when making releases).

Do you have any workflow in mind ?

Thanks.

[2021-06-25 01:10] hommeabeil commented on #112
The workflow I mostly want to achieve is to be able to use the SDK with an already clone repo (`devtool modify -n <recipe> <path>`). Currently if I am not mistaken, this will try to build in the source and might fail if the _build already contains some artefacts. So I need to delete de _build directory and then redo a `devtool build <recipe>`. When I finish with the SDK I need to clean the _build

[2021-07-09 17:55] joaohf commented on #112
Hello @hommeabeil

Now I fully understood the picture and in fact it is really nice. Solving some old issues. Mainly when developing.

What do you think about this one: https://github.com/meta-erlang/meta-erlang/compare/out-of-tree ?

[2021-07-10 20:36] joaohf commented on #98
Hello @Raphexion

Thanks for the feedback. I'm just preparing the second round and add more examples. Also taking the opportunity to make your suggestion about one example per repository.

Thanks

[2021-07-13 01:05] hommeabeil commented on #112
This look like what I had in mind. I will give it a try this week.

[2021-08-18 13:36] zonque commented on #65
After updating to the `hardknott` branch, the compilation of rabbitmq now fails with a different error:

[code]

Any idea how to fix this?

[2021-08-19 00:31] joaohf commented on #65
hmm Seems that we need to update rabbitmq. I'm planing to add the latest 3.8.x and 3.9.x

Which one best fits to you ?

[2021-08-19 06:59] zonque commented on #65
Thanks! I guess I would try 3.9.x first and test that.

[2021-08-24 02:01] luhuadong opened #118 "bitbake emqx failed"
I have clone zeus branch for my yocto project (imx-5.4.47-2.2.0)

[code]

But when I run `bitbake emqx` to build EMQX package, I got an error :

[code]

How should I fix it ?
Thanks

[2021-09-03 00:10] joaohf commented on #65
Closing this one.

Thanks.

[2021-09-03 00:10] #65 closed

[2021-09-04 17:20] joaohf commented on #118
Hi @luhuadong

Sorry my delay. I'll take a look.

[2021-09-27 15:01] TopperBG opened #122 "RabbitMQ after startup start to re-registed constantly to epmd"
OS: Yocto 2.6 Thud
HW: Var-som-mx6
RabbitMQ: 3.8.21
Erlang: 24.0.2
Elixir: 1.12.1

Setup debug loging in /etc/rabbitmq/rabbitmq.conf
Set rabbitmq-server-setup in rc.local to re-create /var/log/rabbitmq folder
Started service with systemctl start rabbitmq-server:
[code]

After few minutes in debug log appears many times:

[code]

epmd daemon running in debug mode:

[code]

**_And after dozen repeat

[2021-10-05 20:25] asuhler opened #123 ""Error in parse transform 'lager_transform'" in Dunfell"
Hey all! I'm having an issue with compiling `rabbitmq-server` in the current release of `poky/dunfell`. I continually get the following error during bitbake compilation:
![image](https://user-images.githubusercontent.com/8608445/136094531-d759cb02-0d77-4ff6-bdc3-b7123baf30c6.png)

I had this issue with my main build process, so I did the following process to isolate out the issue:

1. Clone the po

[2021-10-06 00:34] joaohf commented on #123
Hello @asuhler

Thanks for filling up this issue.

Could you try this one: https://github.com/meta-erlang/meta-erlang/pull/124

That introduces the rabbitmq 3.8.21 which is compatible if Erlang 24.0.5

According to this page https://www.rabbitmq.com/which-erlang.html there are specific combinations between rabbitmq and erlang versions.

[2021-10-06 03:26] asuhler commented on #123
@joaohf It compiled properly, thanks for the quick turnaround!

[2021-10-06 03:26] #123 closed

[2021-10-15 12:37] chrta opened #126 "Minor improvements to meta-erlang-toolchain?"
I evaluated using meta-erlang-toolchain and it seems to work quite good to build a elixir application (release) including erlexec.

But i have to export two variables manually. I would like to to this similar to rebar3 with https://github.com/meta-erlang/meta-erlang/blob/master/recipes-devtools/rebar3/files/environment.d-rebar3.sh automatically.

How can i do this? The issue is that i have to dete

[2021-10-15 23:38] #112 closed

[2021-10-19 12:13] joaohf commented on #102
Ok.

This one is trick. There are a combination of YP/OE recipes needed and also some fixes around Erlang/OTP to unlock the cross compilation when Observer is enabled. I don't have any idea now, I'll try again. It should be possible to cross compile it.

[2021-10-21 01:07] #126 closed

[2021-11-03 09:54] bantu opened #135 "rabbitmq-server: Making socat dependency optional"
### Background

232551cc2040c7c1e43f2215a257cb3e72e83381 introduced a runtime dependency on `socat` to fix #49 in case `systemd` is used.

### Problem

* `socat` depends on `readline`
* `dunfell` has `readline_8.0.bb`
* readline > 6 has `LICENSE = "GPLv3+"`

Thus, rabbitmq-server cannot be installed in combination with `systemd` if `GPLv3` is disallowed.

### Solution

Can `socat` be make optional

[2021-11-04 11:29] joaohf commented on #135
Hello,

Hmm good catch. I think it's possible. I'll try some options around adding sd_notify as described in #49.

Thanks

[2021-11-05 00:11] joaohf commented on #135
Hi,

Which rabbitmq version and YP/OE version are you using ? The 3.9.x fixed the issue in a clean way (https://github.com/rabbitmq/rabbitmq-server/commit/4992b0cc9fd8af31b5c52fedde2c389d0ff1b68f)

Would moving rabbitmq to 3.9.x work to you ?

[2021-11-05 09:17] bantu commented on #135
@joaohf Thank you for the investigation.

We are using rabbitmq-server from meta-erlang's dunfell branch (version 3.8.21) and are on Yocto 3.1.11 LTS.

Yes, that should be possible. How do you think this should be approached? Do you want to add 3.9.x to the dunfell branch?

[2021-11-06 00:20] joaohf commented on #135
Alright, so I'm going to bring rabbitmq 3.9.x to dunfell branch. But not removing the exist ones.

[2021-11-07 21:20] joaohf commented on #135
Hello @bantu, please checkout the #137

I've updated rabbitmq to 3.9.8 and here is a screenshot when I ran it with systemd.

![Screenshot_2021-11-07_16-06-30](https://user-images.githubusercontent.com/278690/140662216-fa924fd1-7dbd-4d64-bf0a-43a6454f023f.png)

[2021-11-07 23:30] bantu commented on #135
@joaohf Tested. Looks good to me. Thank you very much.

[2021-11-09 07:19] Mavionex commented on #29
@joaohf @mmar2228  Hello everybody< I am trying to build emqx in my yocto warrior image, I built meta-erlang I tried to bitbake but it gives me these error : ERROR: erlang-native-24.1.3-r0 do_configure: Function failed: do_configure (log file is located at /home{path}/build/tmp/work/x86_64-linux/erlang-native/24.1.3-r0/temp/log.do_configure.5732)
also Mr. mma said he used emqx branch and it fixed

[2021-11-09 21:10] #135 closed

[2021-11-10 01:07] joaohf commented on #29
Hello @Mavionex

So you are using Yocto warrior branch and which meta-erlang branch are you using ?

meta-erlang does not provide an warrior branch (yet, we could create one). So I would recommend trying to use dunfell branch that looks more with warrior. Because the error that you got is about erlang build and YP warrior version does not know how to deal with that.

Could you try build it using d

[2021-11-10 08:05] Mavionex commented on #29
@joaohf thank u for ur answer joaohf, but I've built many things with warrior but if it wouldn't work with warrior I'll build new image with dunfell. another question please what's the meta-erlang branch ?? I usesd git clone and the link of meta-erlang don't use specific branch

[2021-11-14 18:08] Mavionex commented on #29
hello @joaohf, I tried to build yocto using dunfell for ubuntu 16.04 host machine but it gives me this error :
ERROR: binutils-2.34-r0 do_compile: oe_runmake failed
any help ?

[2021-11-14 23:34] joaohf commented on #29
Hello @Mavionex

meta-erlang has some branches (https://github.com/meta-erlang/meta-erlang/branches) each one following a specific YP/OE version. Usually, we use a specific branch that matches the YP/OE for the project. As I said, meta-erlang does not provide the warrior branch. But I believe. using the meta-erlang dunfell branch will make some results. What I do recommend is like that:

 -  point

[2021-11-15 21:53] Mavionex commented on #29
@joaohf  could you tell me the command to git it for dunfell branch plz ?

[2021-11-17 01:01] joaohf commented on #29
Hi, you could try:

git clone https://github.com/meta-erlang/meta-erlang.git
cd meta-erlang
git checkout dunfell

[2021-11-29 14:56] Mavionex commented on #29
@joaohf, Hello joaoh, could you help me plz in this errors:
ERROR: grub-efi-2.04-r0 do_compile: oe_runmake failed
ERROR: grub-efi-2.04-r0 do_compile: Execution of '/home/mostafa/development/scadanux/scadanux-build/tmp/work/corei7-64-scadanux-linux/grub-efi/2.04-r0/temp/run.do_compile.22858' failed with exit code 1
ERROR: Logfile of failure stored in: /home/mostafa/development/scadanux/scadanux-bui

[2021-11-30 00:28] joaohf commented on #29
Hello,

Well, this error is not from meta-erlang. But it might come from your
environment. Did you try to remote the folders:

/home/mostafa/development/scadanux/scadanux-build/tmp
/home/mostafa/development/scadanux/scadanux-build/sstate-cache

And start the build again ?

Usually, if you change yocto branches, it is a good practice to also remove
the tmp folder.

On Mon, Nov 29, 2021 at 11:56 AM

[2021-12-07 16:08] Mavionex commented on #29
Hello @joaohf I think dunfell branch has many problems while building so if I used another branch ur emqx layer will work on it ?? and I am asking what I need to build some layer for any successful version ? sorry for the hard answer question.

[2021-12-12 01:09] joaohf commented on #102
Now it works as expected (https://github.com/meta-erlang/meta-erlang/pull/139)

I'll backport it to dunfell branch as well.

[2021-12-12 01:09] #102 closed

[2021-12-14 09:39] gookcedemir opened #140 "Yocto Fetch fail from downloads.apache.org/couchdb/source/3.1.1/"
I am using couchdb in my yocto image for Raspberry Pi 4.

I am using master branch "2db0d68f5335a6152f26c27a105fa8f84eb64311" revision number in the meta-erlang repository. And my preferred version in the local.conf file has been set below:

[code]

I started to get the fetch fail. Because we are fetching the version from the following link: https://downloads.apache.org/couchdb/source/3.1.1/apache

[2021-12-16 00:01] joaohf commented on #140
Hello @gookcedemir thanks for the report.

So, I believe you are using dunfell branch. Could you check if this works to you: https://github.com/meta-erlang/meta-erlang/pull/141 it is a couchdb version update as the upstream couchdb has removed the 3.1.1 version from their downloads repository.

I think they did that because the version 3.1.2 fixes a security issue.

Is the version 3.1.2 a feasibly

[2021-12-16 08:04] gookcedemir commented on #140
Thank you @joaohf,

Currently, I am using zeus and unfortunately even the recipe (meta-erlang/recipes-database/couchdb/couchdb_3.1.1.bb) has been removed. Could you please add 3.1.2 bb support to zeus as well.

Please also update the dunfell, following releases until honister (hardknott and gatesgarth) to 3.1.2 because all those are using 3.1.1. Therefore, all other branches will have fetching iss

[2021-12-17 00:26] joaohf commented on #140
Alright, the meta-erlang zeus branch didn't have the couchdb. Now it has:

Adding couchdb for Zeus: https://github.com/meta-erlang/meta-erlang/pull/144

I didn't validate it yet. I'm planning to do soon.

Updates for other branches:

https://github.com/meta-erlang/meta-erlang/pull/143
https://github.com/meta-erlang/meta-erlang/pull/142
https://github.com/meta-erlang/meta-erlang/pull/141

[2021-12-22 10:46] Mavionex commented on #29
@joaohf  Hello joaohf, Now I've built the image with meta-erlang layer, could u tell me how to install and use emqx ?

[2021-12-26 14:25] joaohf commented on #29
Hello,

So, you could try to follow this procedure here:
https://meta-erlang.github.io/#/guides-emqx

Overall, you need to include emqx recipe in the image that you are building:

echo 'IMAGE_INSTALL_append = " emqx"' >> conf/local.conf

Then, bitbake core-image-minimal

meta-erlang provides the recipes and the Yocto/Openembedded procedures
are still valid in order to include package into the imag

[2021-12-30 05:28] Mavionex commented on #29
@joaohf Hello, when I followed the steps I faced these errors
ERROR: emqx-4.0.0-r0 do_compile: Execution of '/home/path to build/tmp/work/corei7-64-scadanux-linux/emqx/4.0.0-r0/temp/run.do_compile.83953' failed with exit code 1 ERROR: Logfile of failure stored in: /home/path to build/tmp/work/corei7-64-scadanux-linux/emqx/4.0.0-r0/temp/log.do_compile.83953
and another Debug statements
and then the

[2021-12-30 12:21] joaohf commented on #29
Hi,

I'm running the build right now. Meantime, can see any error in the file
'/home/path to
build/tmp/work/corei7-64-scadanux-linux/emqx/4.0.0-r0/temp/log.do_compile.84440
?

On Thu, Dec 30, 2021 at 2:28 AM Mavionex ***@***.***> wrote:

--
João Henrique Ferreira de Freitas - joaohf_at_gmail.com
Campinas-SP-Brasil

[2021-12-30 17:00] joaohf commented on #29
@Mavionex the emqx build is ok for dunfell.

Could you share the log.do_compile file ?

Also, did you setup the correct erlang version for emqx:

In conf/local.conf, adding:

[code]

[2022-01-02 07:33] Mavionex commented on #29
@joaohf  when I did it , it gave me this error
ERROR: rebar3-native-3.17.0-r0.1 do_compile: Execution of '/home/path to build /tmp/work/x86_64-linux/rebar3-native/3.17.0-r0.1/temp/run.do_compile.231962' failed with exit code 1
ERROR: Logfile of failure stored in: /home/path to build/tmp/work/x86_64-linux/rebar3-native/3.17.0-r0.1/temp/log.do_compile.231962

ERROR: Task (virtual:native:/home/path t

[2022-01-02 08:06] Mavionex commented on #29
@joaohf in the log file
  OTP Application crypto not available. Please fix your Erlang install to support it and try again.

[2022-01-02 13:27] Mavionex commented on #29
@joaohf  ===> Rebar dependency crypto could not be loaded for reason {"no such file or directory",
|                                                                     "crypto.app"}

[2022-01-02 20:20] joaohf commented on #29
Hello @Mavionex

I don't have an idea yet. But, could you make sure that the following is configured:

PREFERRED_VERSION_erlang = "22%"
PREFERRED_VERSION_erlang-native = "22%"
PREFERRED_VERSION_nativesdk-erlang = "22%"

[2022-01-02 20:21] Mavionex commented on #29
Yes I did it ofcourse

On Sun, Jan 2, 2022, 10:20 PM João Henrique Ferreira de Freitas <
***@***.***> wrote:

[2022-01-05 22:25] joaohf commented on #29
Hmm ok. Do you have any news about the error ?

So, did you try to run:

 btibake rebar3-native -c cleansstate && bitbake rebar3-native

[2022-01-05 22:33] joaohf commented on #140
Closing now, feel free to reopen if need.

[2022-01-05 22:33] #140 closed

[2022-01-09 07:23] Mavionex commented on #29
I ran the those two commands

bitbake rebar3-native -c cleansstate && bitbake rebar3-native without any
errors
but when I try to build the image i still faced this errors
ERROR: emqx-4.0.0-r0 do_configure: Execution of '/home/path to
build/tmp/work/corei7-64-scadanux-linux/emqx/4.0.0-r0/temp/run.do_configure.638895'
failed with exit code 1
ERROR: Logfile of failure stored in: /home/path to
build/t

[2022-01-09 10:16] Mavionex commented on #29
Is this error ERROR:   No usable Erlang/OTP system for the build machine
found! Cannot
| *          cross compile without such a system.
has any solution for u or did u face it be4?

On Sun, 9 Jan 2022 at 09:22, Mustafa Gamal ***@***.***>
wrote:

[2022-01-09 11:20] Mavionex commented on #29
I am sorry Joao I know this the third msg but I am trying to catch the
error and solve it. the error may be in this file
meta-erlang/recipes-connectivity/emqx/emqx_4.0.0.bb
and that's its content :

require emqx.inc

SRCREV = "7b860cf9ece2406e5e92f46755d307e50d5a8214"
PV = "4.0.0"
PR = "r0"

FILESEXTRAPATHS_prepend := "${THISDIR}/files/${PV}:"

SRC_URI += "\
    file://0001-Use-a-fixed-emqx-rel-ta

[2022-01-10 11:16] joaohf commented on #29
@Mavionex

Did you try: bitbake -c cleansstate emqx && bitbake emqx ?

If it does not work, maybe you can try to build using the MACHINE qemux86-64, just to check if the build is ok.

[2022-01-10 11:18] Mavionex commented on #29
I am already using it, I think it's may be related to Erlang/otp. Is it
included with the meta-erlang layer ?

On Mon, Jan 10, 2022, 1:16 PM João Henrique Ferreira de Freitas <
***@***.***> wrote:

[2022-01-12 11:07] Mavionex commented on #29
Unfortunately,the same error 🤔

On Tue, Jan 11, 2022, 2:57 AM João Henrique Ferreira de Freitas <
***@***.***> wrote:

[2022-01-12 11:31] colrack opened #149 "Cannot build epmd recipe on honister due to autoconf 2.71"
Seems like epmd is not buildable in honister due to autoconf, here is the relevant log.
Currently I have a workaround to fallback to use autoconf 2.69 to build this recipe.
This is not ideal but I currently cannot figure out how to port the recipe to use autoconf 2.71
Any help? Thanks!

related:
https://github.com/asdf-vm/asdf-erlang/issues/195
https://github.com/kerl/kerl/issues/359

[code]

[2022-01-13 01:25] joaohf commented on #149
Hello @colrack

Thanks for bring this up. Could you check this PR https://github.com/meta-erlang/meta-erlang/pull/152 it adds Erlang 24.2 and fix epmd cross-compile issue.

[2022-01-13 15:48] Mavionex commented on #29
That's inside rebar3 3... file
require rebar3.inc

PR = "1"
SRCREV = "45817ea83df33005397c2838a384953349440714"

and the error has also this :
Rebar dependency crypto could not be loaded for reason {"no such file or
directory",
So is there anything in SRCREV line ??

On Tue, 11 Jan 2022 at 02:57, João Henrique Ferreira de Freitas <
***@***.***> wrote:

[2022-01-17 18:13] colrack commented on #149
Hi @joaohf
I tried it but I still have an issue here:
https://github.com/meta-erlang/meta-erlang/blob/fa7b79338e2004ba9f88c18c3d401a93b2c71f8e/recipes-core/epmd/epmd.inc#L68
My path ends with `linux-gnu` instead of `linux`, I think this is due to autoconf 2.71 that appends `gnu`
I think it happens here:
https://github.com/erlang/otp/blob/OTP-24.2/make/target.mk#L58

[2022-01-17 18:16] joaohf commented on #149
Hi @colrack

Alright, I have a fix for it. I'll add it to the PR.

[2022-01-18 12:22] joaohf commented on #149
@colrack could you give a try now ?

It should work for all archs. As the epmd recipe is not calling the Erlang/OTP make install rule, the recipe has to get the correct target triple in order to collect the epmd binary.

 (https://github.com/meta-erlang/meta-erlang/pull/152/commits/2dc314cca637355d7c92681e10bbd45477fbc484)

[2022-01-18 16:21] colrack commented on #149
Thanks a lot @joaohf
It works now

[2022-01-19 00:29] #149 closed

[2022-01-26 06:47] Mavionex commented on #29
Hello Joao, is there any help ?

On Thu, 13 Jan 2022 at 17:48, Mustafa Gamal ***@***.***>
wrote:

[2022-01-26 12:25] joaohf commented on #29
Hello,

I'm trying to figure out something else. One important thing, when you
sourced the YP/OE environment. Are you able to find and run the `erl`
binary ? In other words, do you have any erlang installed in our machine ?

Thanks

On Wed, Jan 26, 2022 at 3:47 AM Mavionex ***@***.***> wrote:

--
João Henrique Ferreira de Freitas - joaohf_at_gmail.com
Campinas-SP-Brasil

[2022-01-30 10:01] Mavionex commented on #29
Hello Joao, Now I've built the image well with emqx I am working in its
configuration now

On Wed, 26 Jan 2022 at 14:25, João Henrique Ferreira de Freitas <
***@***.***> wrote:

[2022-03-01 11:21] Mavionex commented on #29
Hello Joao, I am trying to run java application , I cloned this layer
meta-oracle-java and added LICENSE_FLAGS_WHITELIST += "oracle_java" to
local.conf
but I still couldn't find java on my image ? any help for this issue ?

On Sun, 30 Jan 2022 at 12:01, Mustafa Gamal ***@***.***>
wrote:

[2022-03-03 13:37] zonque opened #155 "rabbitmq fails to start on Yocto honister"
After an update from hardknott to honister the rabbitMQ service fails, and the logs show:

[code]

[2022-03-04 13:31] #155 closed

[2022-03-04 14:33] zonque opened #157 "`erl` binary segfaulting in honister"
The full strace:

[code]

[2022-03-04 15:57] zonque commented on #157
Same happens with `PREFERRED_VERSION_erlang = "24.1.7"`

[2022-03-05 22:00] joaohf commented on #157
Hello,

That is odd. Could you check the following variables ?

    PREFERRED_VERSION_erlang = "24.1.7"
    PREFERRED_VERSION_erlang-native = "24.1.7"
    PREFERRED_VERSION_nativesdk-erlang = "24.1.7"

All of them should be pointing to 24.1.7. But strace is not saying that, because
the erts-12.2 ( execve("/usr/lib/erlang/erts-12.2/bin/beam.smp" )  is for Erlang/OTP 24.2 not 24.1.7.

Also, which ar

[2022-03-09 13:46] timoc opened #158 "VerneMQ support"
Could you add VerneMQ?
https://vernemq.com/

[2022-03-09 16:25] joaohf commented on #158
Hello. Yes I can.

[2022-03-10 13:14] zonque commented on #157
Yeah, the output above was for 24.2.
The strace output for 24.1.7 looks like this:

[code]

The platform in use here is Intel Corei7, and the easiest way to reproduce this seems to be to `chroot` into the emerged rootfs folder and type `erl`.

[2022-03-10 15:24] zonque commented on #157
Back in Yocto hardknott we pinned `erlang` to `24.0.2` and `elixir` to `1.12.1` and that worked fine, but those version were dropped from meta-erlang.

[2022-03-11 14:15] zonque commented on #157
erlang `23.3.4.8` and elixir `1.11.4` doesn't crash immediately, but rabbitmq `3.9.8` doesn't seem to work with it and crashes. Any further pointers would be appreciated. I know practically nothing about erlang :(

[erl_crash.dump.txt](https://github.com/meta-erlang/meta-erlang/files/8232582/erl_crash.dump.txt)

[2022-03-11 19:03] joaohf commented on #157
Ok. I'm trying to figure out and testing some configurations.

Right now the chroot approch seems not working. But testing withe the MACHINE=genericx86-64 and running it on VirtualBox looks ok. I'll try on a real hw as well.

[2022-03-11 19:04] joaohf commented on #157
BTW, are you using the latest poky honister branch ? I'm running my tests on https://git.yoctoproject.org/poky/commit/?h=honister&id=0fbf414b39f1ce3a055c5baeba755a05c438ec0d

[2022-03-13 23:46] joaohf commented on #157
Hello.

I ran some tests.

[code]

The genericx86-64 should be a pretty generic machine for server and general purpose Intel machines. Are you using any specific machine (I mean any from meta-intel layer for example) ?

Image: core-image-minimal

[code]

Erlang versions tested: 24.2,  24.1.7, 23.3.4.8

Running on:

* VirtualBox x86-64
* real up to date i7 hardware notebook
* my old i7 laptop

I wa

[2022-03-15 14:28] zonque commented on #157
Thanks a lot for all your support. Further debugging shows that erlang binaries in images built on Ubuntu 20.04 LTS segfault, but built on Fedora 35 they seem to work fine.

I've now started dissecting this a bit further and figured out that replacing `/usr/lib/erlang` doesn't suffice, I need to replace all of `/usr/lib` to make it working.

I don't have any more details at this point, but I'll ke

[2022-03-15 22:38] joaohf commented on #157
My host OS is Ubuntu 21.10 but I'm using kas-container to to all meta-erlang Yocto builds.

https://github.com/siemens/kas/blob/master/kas-container
https://github.com/meta-erlang/kas-meta-erlang

[2022-03-17 13:52] joaohf commented on #157
Sure, I'll run my tests.

Also find this: http://docs.yoctoproject.org/migration-guides/migration-3.4.html#prelinking-disabled-by-default

[2022-03-17 15:53] zonque commented on #157
Aah, thanks for that pointer! I didn't see this. That explains!

[2022-04-13 09:41] MaartenBE commented on #158
Hi I am also interested in VerneMQ support. @joaohf Any idea if the support can be added anytime soon? Thanks!

[2022-04-15 18:44] joaohf commented on #158
Hello!

Here is a very first results: https://github.com/meta-erlang/meta-erlang/pull/164

[2022-04-21 09:18] dmrayt opened #165 "Change CouchDB source download url"
CouchDB Version 3.2.0 is not available anymore on https://downloads.apache.org/couchdb/source/.
It seems that only last version is available there.
Same problem as in #140.

The source should be downloaded directly from GitHub https://github.com/apache/couchdb with the right tag (e.g 3.2.0).

[2022-04-21 15:43] dmrayt opened #166 "Unable to compile CouchDB with dunfell branch"
I got an error while trying to compile couchdb: "No package 'erl_ei' found"

I'm using dunfell branch and erlang version 20.3.8.26.

[2022-04-21 22:08] joaohf commented on #165
I've updated master and honister to couchdb 3.2.2 release

https://github.com/meta-erlang/meta-erlang/pull/167
https://github.com/meta-erlang/meta-erlang/pull/168

Let me know if you really need the 3.2.0 or the 3.2.2 works as well.

Thanks

[2022-04-22 01:14] joaohf commented on #166
Right, that happens for 20.x, 21.x and 22.x because the patches for pkg-config (from this layer) were not available (yet) for these erlang versions. Also the couchdb 3.1.2 does not support erlang 23.x or 24.x.

So, two options here: bump couchdb to 3.2.x or backport the pkg-config patch to the missing erlang versions.

Does updating couchdb work for you ?

[2022-04-22 15:52] dmrayt commented on #165
I'm not sure but I think I could live with 3.2.2.
The problem is that I'm using dunfell and there is other bug there, see #166.
At the moment i'm not able to build a version without problem.
I was happy with couchdb version 3.1.1 and I have to update only because the recipe doesn't use  the source from github.

[2022-04-22 15:58] dmrayt commented on #166
The patch has already work before. I was using CouchDB 3.1.1 with erlang version 20.3.8.26 (commit 286eb34 from March 2021)

If you can add 3.2.x to dunfell, I will try if it works.

[2022-04-23 20:29] joaohf commented on #166
Hello @dmrayt

I've added again the 3.1.1 and 3.1.2 now using apache archives that is suppose to not disappear. Please, try it using the Erlang 22.3.4.22 or 21.3.8.24.

Unfortunately the Erlang version 20.3.8.26 is not building yet.

The couchdb 3.2.x require some dependencies that Yocto/OE dunfell branch does not have. So, it's better to stick with 3.1.x on dunfell.

[2022-04-23 20:37] joaohf commented on #165
I've updated master, honister and dunfell to use Apache Foundation mirrors at http://archive.apache.org/dist/couchdb/source/

So, I hope the couchdb versions will be there for a long time. This is also the same approach that YP/OE does for some other apache projects.

Now, the branch X couchdb versions are:

dunfell: couchdb 3.1.x
honister: couchdb 3.2.x
master: couchdb 3.2.x

[2022-04-25 14:56] #165 closed

[2022-04-28 13:05] tvroegop commented on #158
Hi @joaohf, I have tried your patch in our yocto environment (dunfell) and was able to build a working (as in startable) vernemq with these recipes. I'm ok with this addition. Thank you for the effort.

[2022-04-28 14:11] dmrayt commented on #166
I was able to build couchdb 3.1.2 and erlang 20.3.8.26 with the current commit in dunfell branch.
Thanks.

[2022-05-01 01:31] joaohf commented on #158
I've added vernemq to dunfell and master:

https://github.com/meta-erlang/meta-erlang/pull/174
https://github.com/meta-erlang/meta-erlang/pull/164

[2022-05-07 12:52] chrta opened #176 "erlang crypto (native) does not work for yocto kirkstone (rebar3-native does not compile)"
I am currently testing the new yocto release 4.0 (kirkstone), which is a LTS release.
It includes openssl 3: https://git.yoctoproject.org/poky/tree/meta/recipes-connectivity/openssl/openssl_3.0.2.bb?h=kirkstone

Compiling erlang and erlang-native work fine (erlang 24.3.3 and 25.0-rc1). But building rebar3-native fails because erlang crypto could not be started:

[code]

When i switch into the devs

[2022-05-07 13:12] chrta commented on #176
May be similar to https://github.com/jonmason/meta-arm/commit/1ee79374727224129f47c56115b18dea4edbd553

[2022-05-07 13:27] joaohf commented on #176
Hello

That is great! I was testing the new yocto and erlang 25-rc and had the
same results. But looks like you've found a light.

I'll check this out.

Thanks.

Em sáb, 7 de mai de 2022 10:13 AM, Christian Taedcke <
***@***.***> escreveu:

[2022-05-07 14:32] chrta commented on #176
This seems to work:
[code]

All other recipes that execute erlang and use crypto on native also need to export OPENSSL_MODULES. Maybe it should be done in `erlang.bbclass`.

[2022-05-08 20:45] joaohf commented on #176
Hello @chrta

There is a specific commit on OE-Core that address the wrapper script with OSSL_MODULE variable: https://git.yoctoproject.org/poky/commit/?id=a8c9104ac4d621c34bd53ea93d8a4bf068fa60fa

I'm using the same here:

https://github.com/meta-erlang/meta-erlang/pull/177

https://github.com/meta-erlang/meta-erlang/tree/kirkstone

Now it works for native, native-sdk.

And for the target, I also

[2022-05-28 00:42] joaohf opened #182 "Change rebar3 and mix cache files destination"
Instruct rebar3 and mix to use recipe work dir to keep cache files. That is necessary to avoid host contamination and make a clear separation from any other host cached files.

For rebar3:

https://rebar3.readme.io/docs/configuration
REBAR_CACHE_DIR

For mix:

https://hexdocs.pm/mix/main/Mix.html#module-environment-variables
MIX_ARCHIVES
MIX_HOME

Adding those variables in rebar3.bbclass and mix.b

[2022-05-31 16:46] lsorense opened #183 "elixir fails to package when multilib is in use"
When using multilib, libdir = /usr/lib64 not /usr/lib.  The FILES statements should all be using nonarch_libdir instead of libdir.  Using libdir causes most of the files to get skipped and not packages which of course causes the packaging to fail.

[2022-06-01 20:04] lsorense commented on #183
I would have to figure out which parts of the config are relevant.  But it is building for x86_64 with support for x86 32 bit as well, which means the libdir is /usr/lib64 for x86_64 packages and /usr/lib for x86 packages.  Most things are built for x86_64, including erlang and elixir.  But since the elixir stuff is not architecture specific (I hope), it seems it is installing in /usr/lib rather t

[2022-06-01 20:51] joaohf commented on #183
It might be necessary to set the correct erlang version for rabbitmq, according to https://www.rabbitmq.com/which-erlang.html. I'm testing it too.

Are you getting this error ?

[code]

[2022-06-01 21:07] lsorense commented on #183
Yes exactly that.  I will try changing to erlang 24.3.3 then.

[2022-06-02 01:37] lsorense opened #185 "rabbitmq-server fails to package on multilib setups"
When using multilib with /usr/lib64 (64 bit) and /usr/lib (32 bit), rabbitmq-server fails to package because it incorrectly uses /usr/lib when it should use /usr/lib64.  I know the recipe for 3.8.3 in commit 60f5daef2fe34acbdbdb14103af44d7dc66e5dc8 dealt with this by doing a sed replacement of the RABBITMQ_HOME value so that the install would go to the correct path.  It seems this part was lost in

[2022-06-02 01:48] joaohf commented on #183
Try to use these versions:

[code]

That is the correct combination for rabbitmq 3.9.8 (I'll bump the version later, or at least keep one for each major erlang/elixir combination).

Now, it looks like rabbitmq-server recive also needs change about multilib.

[2022-06-03 12:02] lsorense commented on #183
Yeah I did that and now it works nicely if I use the for-master-elixir-nonarch_libdir branch.  Hope that gets merged to kirkstone branch.

[2022-06-05 20:30] #185 closed

[2022-06-05 23:11] joaohf commented on #183
Hi.

Done. For master and kirkstone

Thanks.

[2022-06-05 23:11] #183 closed

[2022-06-29 13:05] #157 closed

[2022-06-29 13:06] zonque opened #194 "Compile of RabbitMQ 3.9.8 fails on kirkstone"
When building with the `kirkstone` branch and Erlang 25.0, I see this:

[code]

[2022-06-30 23:32] joaohf commented on #194
Hello @zonque

As state here https://www.rabbitmq.com/which-erlang.html the rabbitmq version 3.9.8 does not support Erlang 25. So the version 3.9.8 needs the min 23.2 and max 24.2 Erlang version (set it as preferred version).

I'm planning to add rabbitmq 3.10.5 for master and kirkstone as well.

[2022-07-01 08:20] zonque commented on #194
I tried pinning the versions, but that failed too.

Nice. I'll wait for that then and give it a try :)

[2022-07-03 12:42] chrta opened #195 "Update quickstart guide for kirkstone"
https://meta-erlang.github.io/#/guides-quickstart still refers to the dunfell branch.
It needs a few minor changes for kirkstone, e.g. adding meta-oe because of wxwidgets:
[code]
Should this update be done or should we wait with it? Are other doc pages that should be updated?

[2022-07-03 18:24] joaohf commented on #195
Hello @chrta

Yes, you are right. I guess the quickstart (https://github.com/meta-erlang/meta-erlang.github.io/blob/main/docs/guides-quickstart.md) is the main one that we should update.

The others md documents should work with any version.

[2022-07-03 18:42] joaohf commented on #194
Hello,

Here we go:

https://github.com/meta-erlang/meta-erlang/pull/196
https://github.com/meta-erlang/meta-erlang/pull/197

[2022-07-03 19:00] joaohf commented on #158
Feel free to reopen if needed ;)

[2022-07-03 19:00] #158 closed

[2022-07-05 23:56] #195 closed

[2022-08-17 12:01] phantom-j opened #199 "couch db compilation error"
Hi,
I have added meta-erlang in my yocto project,
In couchdb compilation i have encountered below error

ERROR: couchdb-3.1.2-r1 do_compile: oe_runmake failed
ERROR: couchdb-3.1.2-r1 do_compile: Execution of '/home/leo/Documents/imx8mm/mys-8mmx-yocto/imx-yocto-bsp/build-kiara/tmp/work/aarch64-poky-linux/couchdb/3.1.2-r1/temp/run.do_compile.4199' failed with exit code 1:
Package erl_ei was not foun

[2022-08-17 12:17] joaohf commented on #199
Hello Jay.

Thanks for reporting that. Which meta-erlang are you using ? And what is
the yocto version ?

Em qua, 17 de ago de 2022 9:01 AM, Jay ***@***.***> escreveu:

[2022-08-23 16:44] chrta opened #200 "Feature Request: Add support for rustler in mix projects"
I would like to be able to use rustler https://github.com/rusterlium/rustler from a mix-based Elixir project when using yocto kirkstone (that includes support for rust and cargo).

We probably have to write a new mix-rustler.bbclass so mix is able to detect cargo etc.

I nobody has already done that i could give it a shot with some assistance.

[2022-08-23 16:47] chrta commented on #200
Related to https://github.com/rusterlium/rustler/issues/274

[2022-08-24 01:00] joaohf commented on #200
Hi @chrta

Sure that is possible. Do you have anything in mind or already have some prototype ? Would be nice to create an example project here https://github.com/meta-erlang/hello-world and https://github.com/meta-erlang/meta-erlang/tree/master/recipes-examples

[2022-08-24 07:34] chrta commented on #200
I do not have a prototype yet. I just played around with rustler and did not manage to build the native and Elixir part at the same time. I can create a PR in https://github.com/meta-erlang/hello-world to add a minimal Elixir example using rustler. I can also create a PR to add a (not working) recipe, in recipe-examples as a starting point.

We probably have to set some environment variables and/o

[2022-08-25 12:52] joaohf commented on #200
Alright,
Please, open a PR for hello-world there. It will be useful even it is not working, yet.

I'll start some exploration to understand how rust and the related bbclass works. But, at least for now, inherit a mix-rustler.bbclass is good start point.

[2022-08-28 22:36] joaohf commented on #200
Hi @chrta

This is a first try https://github.com/meta-erlang/meta-erlang/pull/201

What do you think ? I'm still not familiar with rust env and I'm learning it now.

mix-rustler.bbclass is based on cargo.bbclass

[code]

I didn't try to install it yet and check what happens. Also my MACHINE is qemux86-64, I'll try others as well.

[2022-08-29 15:48] chrta commented on #200
Great, thank you for the fast response. The PR looks good, i will continue the discussion there.

[2022-09-20 13:08] joaohf commented on #200
It has been implemented, https://github.com/meta-erlang/meta-erlang/pull/201

[2022-09-20 13:08] #200 closed

[2022-09-21 18:59] joaohf opened #205 "QA Issue buildpaths (reproducible builds) when building with langdale"
When building erlang, elixir or any other recipe based on Erlang and Elixir we'll get some warnings like that:

[code]

The TMPDIR is defined like:

[code]

And looks like YP/OE QA found some issues related to embedded TMPDIR in beam files (and a few other files tool). That is because YP/OE follows the Reproducible Build. More details here https://docs.yoctoproject.org/dev/test-manual/reproducible

[2022-09-23 11:32] phantom-j commented on #199
Hi,
i am using meta-erlang zeus branch,
first i added below variable in local.conf ,its working fine
IMAGE_INSTALL_append = " erlang"
after that i added couchdb package in my image bb class file,then its giving above error posted

[2022-09-24 12:07] phantom-j opened #209 "erlinit fetch is failing"
Hi,
i am using erlang zeus branch.
i have added erlinit package in my image file,
it's failing in fecth only .

ERROR: erlinit-1.6.0-gitAUTOINC+53b0a4dfc5-r0 do_fetch: Fetcher failure for URL: 'git://github.com/nerves-project/erlinit;branch=master'. Unable to fetch URL from any source.

[2022-10-22 00:49] joaohf commented on #209
Hi,

This should fix the problem https://github.com/meta-erlang/meta-erlang/commit/494b1efc8bb951cbee3ca8df5d2ceff4ce078c05

Try again with zeus branch.

[2022-10-24 01:14] joaohf commented on #199
Hello,

Please, try this one https://github.com/meta-erlang/meta-erlang/pull/210

I've tested with Erlang 22.3 as I had to backport some patches from dunfell to zeus.

BTW, Zeus branch is considered EOL. If you can, I recommend to switch to Dunfell branch or Kirkstone (https://wiki.yoctoproject.org/wiki/Releases).

Thanks.

[2022-11-19 21:10] #209 closed

[2022-11-19 21:10] #199 closed

[2022-11-21 00:45] joaohf commented on #205
It looks like erlang 25.1.2 adds a configure option to enable deterministic builds. In fact we are using it now (for langdale only) https://github.com/meta-erlang/meta-erlang/commit/8e2535d08c3b56eb90effbc84f0a96325d04fd8e

But, we still get some warnings about:

[code]